@font-face {
    font-family: TrajanusBricks;
    src: url('../assets/fonts/trajanusbricks-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'magic_cardsnormal';
    src: url('../assets/fonts/magiccardsnormal-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: oblivionregular;
    src: url('../assets/fonts/oblivion-font-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.q-field__bottom--animated {
    position: static;
    transform: translateY(0%);
    padding-bottom: 1rem;
}

.q-field--with-bottom {
    padding-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

body {
    font-family: oblivionregular, serif;
    background:
        linear-gradient(oklch(from $dark-page l c h / 23%), oklch(from $dark-page l c h / 23%)),
        url('/src/assets/images/common/bg-common.avif');
    color: $primary;
    background-color: #040405;
    animation: fadeIn 0.5s ease-in-out;
}

.font-secondary {
    font-family: 'magic_cardsnormal', serif;
}

.font-extra {
    font-family: TrajanusBricks, serif;
}

.font-quote {
    font-family: serif;
}

.sr-only {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    white-space: nowrap;
    clip-path: inset(50%);
    overflow: hidden;
}

input[type='number'] {
    appearance: textfield;
}
