@font-face {
    font-family: TrajanusBricks;
    src: url('../assets/fonts/trajanusbricks-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'magic_cardsnormal';
    src: url('../assets/fonts/magiccardsnormal-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: oblivionregular;
    src: url('../assets/fonts/oblivion-font-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

input[type='number'] {
    appearance: textfield;
}

html {
    background-color: #040405;
}

body {
    position: relative;
    min-height: 100svh;
    font-family: oblivionregular, serif;
    color: $primary;
    background-color: transparent;
    overflow-x: hidden;
}

body::before {
    position: fixed;
    inset: 0;
    z-index: -1;
    background:
        linear-gradient(oklch(from $dark-page l c h / 23%), oklch(from $dark-page l c h / 23%)),
        url('/src/assets/images/common/bg-common.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    content: '';
}

.q-field__bottom--animated {
    position: static;
    transform: none;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.q-field--with-bottom {
    padding-bottom: 0;
}

.font-secondary {
    font-family: 'magic_cardsnormal', serif;
}

.font-extra {
    font-family: TrajanusBricks, serif;
}

.font-quote {
    font-family: serif;
}

.sr-only {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    white-space: nowrap;
    clip-path: inset(50%);
    overflow: hidden;
}
