.fade-enter-active,
.fade-leave-active {
    transition: opacity 150ms ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.remove-enter-active,
.remove-leave-active {
    transition: opacity 40ms ease-in;
}

.remove-enter-from,
.remove-leave-to {
    opacity: 0;
}

.list-move,
.list-enter-active,
.list-leave-active {
    transition:
        transform 400ms ease-in-out,
        opacity 400ms ease-in-out;
}

.list-enter-from,
.list-leave-to {
    transform: translateX(1.875rem);
    opacity: 0;
}

.list-leave-active {
    position: absolute;
    opacity: 0;
}

.pagination-enter-active,
.pagination-leave-active {
    transition: opacity 300ms ease-in-out;
}

.pagination-leave-active {
    display: none;
    position: absolute;
}

.separator {
    display: block;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 0.0625rem;
    background-color: #1e1e1e;
    margin-inline: auto;
    content: '';
    top: 0;
}

.separator::before {
    content: '';
    position: absolute;
    top: 0.375rem;
    width: 100%;
    height: 0.0625rem;
    background-color: #1e1e1e;
}

.separator::after {
    content: '';
    position: absolute;
}

.text-glow-dark {
    text-shadow: 0.1875rem 0.3125rem 0.3125rem rgb(21 21 21 / 50%);
}

.vault-form {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $dark;
    border-radius: $rounded;
    border: 0.0625rem solid rgb(255 255 255 / 12.5%);
}

.vault-form::before {
    position: absolute;
    inset: 0;
    z-index: -2;
    box-shadow: rgb(0 0 0 / 24%) 0 0.1875rem 0.5rem;
    background-color: rgb(8 8 8);
    inset-inline: 0;
    content: '';
    border: 0.0625rem solid rgb(255 255 255 / 12.5%);
    border-radius: $rounded;
}

.vault-form__inner {
    position: relative;
}

.vault-form__title {
    text-shadow: rgb(0 0 0 / 30%) 0.1875rem 0.1875rem 0.375rem;
}

.skeleton {
    position: absolute;
    inset: 0;
    background-color: $placeholder-primary;
}
