$primary: #e5e0c8;
$secondary: #bd9b4e;
$accent: #fff;
$dark: #140f0e;
$positive: #79a227;
$negative: #9b151f;
$info: #878582;
$warning: #ff5733;
$dark-page: #100d0c;
$gold-frame: #2a241c;
$bg-modal: #1f1d1a;
$medium: #16161b;
$negative-dimmed: #5c0903;
$placeholder-primary: #000;
$placeholder-secondary: #1a1917;
$secondary-dimmed: #927636;
$breakpoint-xs: 37.4375rem !default;
$breakpoint-sm: 48rem !default;
$breakpoint-md: 69.4375rem !default;
$breakpoint-lg: 89.9375rem !default;
$breakpoint-xl: 119.9375rem !default;
$rounded: 0.5em;
